form{
    display: block;
    position: relative;
    margin: 10vh auto;
    text-align: center;
    width: 100%;
}

#loginErrorMsg {
    color: #FC605B;
    text-align: left !important;
}

label {
    color:#49BCFF;
}

input {
    color: white !important;
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid aliceblue;
    margin: 1vh 0vw;
    transition: 0.15s ease-in;
    width: 40%;
}

form:nth-child(5) {
    margin-top: 10vh !important;
}

input:focus {
    outline: none;
    border-color: #49BCFF !important;
    border-bottom-width: 2px;
}

input[type=submit] {
    background-color: #26466D;
    border: 1px solid #262626;
    border-radius: 4px !important;
    color: aliceblue !important;
    cursor: pointer;
    margin: 0;
    height: 29px;
    text-align: center !important;
    transition: 0.4s ease-in;
    width: 90px;
}

#submitBtn:hover {
    background-color: #49BCFF;
    border-color: #3379b7;
}

#createAccBtn {
    
}

#loginFooter {
    align-items: center;
    background: #001129;
    bottom: 0;
    height: 50px;
    width: 100%;
    content: ''; 
    clear: both;
}

#loginFooter a {
    color: lightcyan;
    display: list-item;
    list-style-type: none;
    text-align: center;
    text-decoration: none;
}

#loginFooter a:hover{
    color: ghostwhite;
}